body{
	background:url(../img/background.jpg) no-repeat 0px -100px; 
 	background-size:cover;

	
}
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 3em;
  padding-top: 2em;
}
h1 span{
	font-weight:100;
	margin-left: 10px;
}	
form li{
	list-style: none;
	margin-bottom: 25px;
	width: 100%;
	background: #b73338;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}
input[type="text"] {
	color: #ffffff;
	font-size: 1 em;
	outline: none;
	border: none;
	font-weight: 20;
	position: absolute; 
	top: 280px; 
	right: 520px; 
	background:url(../img/input.jpg) no-repeat 0px 0px; 
}
input[type="password"]{
	
	color: #ffffff;
	font-size: 1 em;
	outline: none;
	border: none;
	position: absolute; 
	top: 310px; 
	right: 520px; 
	background:url(../img/input.jpg) no-repeat 0px 0px; 
}
input[type="submit"] {
	background:url(../img/login.jpg) no-repeat 0px 0px; 
	outline: none;
	border: none;
	color: #CBCBCB;
	position: absolute; 
	top: 308px; 
	right: 450px; 
	border: 2px solid rgba(0, 0, 0, 0);
}
input[type="submit"]:hover {
  color: #999;
  border: 2px solid#fff;
  	transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
}
