<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.WordWallMapper">
  <resultMap id="BaseResultMap" type="com.yang.pojo.WordWall">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="created" jdbcType="DATE" property="created" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, message, created, status
  </sql>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from word_wall
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
   <select id="selectAllWords" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from word_wall
  </select>
  
  <select id="selectAllByCreated"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from word_wall
    where status=1 
    order by created desc
  </select> 
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from word_wall
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yang.pojo.WordWall">
    insert into word_wall (id, name, message, 
      created, status)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{created,jdbcType=DATE}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yang.pojo.WordWall">
    insert into word_wall
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yang.pojo.WordWall">
    update word_wall
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yang.pojo.WordWall">
    update word_wall
    set name = #{name,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      created = #{created,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="passWords" parameterType="int">
    update word_wall
    set 
      status = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>